body {
            margin: 0;
             background: linear-gradient(
            rgb(1, 16, 79),
            rgb(63, 2, 150),
            rgb(131, 1, 225)
    );
            color: white;
        }

        #loading,
        #offline {
            font-family: Arial, Helvetica, sans-serif;
            color: transparent;
            background: linear-gradient(90deg, #495cff, #9B5CFF, #E05CFF);
            -webkit-background-clip: text;
            background-clip: text;
            text-shadow:
            0 0 20px rgba(41, 0, 107, 0.8),
            0 0 40px rgba(41, 0, 107, 0.6),
            0 0 80px rgba(41, 0, 107, 0.4);
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #site {
            width: 100%;
            height: 100vh;
            border: 0;
        }

        #offline {
            display: none;
        }